# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# Virtual environment
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Env file
.env

# IDE / editor
.vscode/
.idea/
*.iml
